pre.codebox {
    border: 2px solid palegoldenrod;
    border-radius: 6px;
    padding: 0.5rem;
    display: block;
    width: fit-content;
    margin: 0.25rem 0 0.5rem -0.25rem;
    line-height: 150%;
  }

pre.tab {
    margin: 0;
    padding: 0;
    margin-left: 1.5rem;
    border: none;
}

pre.comment {
    margin: 0;
    padding: 0;
    border: none;
    color: olive;
}

