section.chapter {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

section.chapter > * {
    margin: 0;
}

h1.title {
    color: olive;
    font-size: xx-large;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}