pre.codeSnippet {
    border: 1px solid darksalmon;
    padding: .5rem .5rem .25rem;
    color: chocolate;
    font-weight: normal;
    margin: .25rem 0;
    width: fit-content;
}
.codeSnippet em {
    color: rgb(173, 83, 173);
}