.redirect {
  border: 5px double rgba(128, 128, 0, 0.454);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.redirect > a {
  font-size: x-large;
  color: olive;
  font-weight: bold;
  padding: 1rem;
}
.redirect > a:hover {
  color: white;
  background-color: rgba(128, 128, 0, 0.454);
}

article .redirect {
  border: 4px double rgba(128, 128, 0, 0.454);
  width: fit-content;
}

article .redirect > a {
  font-size: large;
  padding: 0.5rem 1rem;
  color: rgb(154, 154, 21);
}

.redirect a .arrow {
  color: rgba(128, 128, 0, 0.454);
}
