.comment {
  color: olive;
}

.imp {
  color: indianred;
  font-weight: bold;
}

.impvar {
    color: mediumorchid;
    font-weight: bold;
  }

.var {
  color: mediumorchid;
  font-weight: normal;
}

.var2 {
    color: green;
    font-weight: normal;
  }

.val{
    color: rebeccapurple;
    font-weight: normal;
  }

.block {
  color: olive;
  font-weight: normal;
}

.fn {
    color: chocolate;
    font-weight: normal;
  }

.regular {
    color: steelblue;
    font-weight: normal;
}