@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  margin: 0;
  color: rgb(88, 88, 0);
  line-height: 1.5rem;
}

code,
pre {
  font-family: Courier New, Courier, monospace;
  font-size: .9rem;
  color: steelblue;
  line-height: 1.2rem;
}

ul {
    padding-left: 2.5rem;    
    list-style: none;
}

ul li::before {
    content: "\2022";
    color: olive;
    font-weight: bold;
    display: inline-block;
    width: 1.25rem;
    margin-left: -1.25rem;
}

em {
    font-style: normal;
    color: indianred
}