@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* margin: 0.5rem; */
  color: rgb(88, 88, 0);
  line-height: 150%;
}

code,
pre {
  font-family: Courier New, Courier, monospace;
  font-size: 0.9rem;
  color: steelblue;
  line-height: 1.2rem;
}

pre {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
em {
  font-style: normal;
  color: indianred;
}

strong {
  font-weight: bold;
  color: olive;
}

a {
  text-decoration: none;
  color: palevioletred;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 200%;
  color: olive;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

h3 {
  font-size: larger;
}

h4 {
  font-size: large;
}

h5,
h6 {
  font-size: medium;
}

