@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* margin: 0.5rem; */
  color: rgb(88, 88, 0);
  line-height: 150%;
}

code,
pre {
  font-family: Courier New, Courier, monospace;
  font-size: 0.9rem;
  color: steelblue;
  line-height: 1.2rem;
}

em {
  font-style: normal;
  color: indianred;
}

strong {
  font-weight: bold;
  color: olive;
}

a {
  text-decoration: none;
  color:palevioletred
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 200%;
  color: olive;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

h3,
h4,
h5,
h6 {
  font-size: larger;
}
