.toggleButton {
    border: 3px double rgb(185, 185, 98);
    border-radius: 5px;
    background-color: white;
    color: olive;
    font-weight: bold;
    font-size: 1rem;
    width: fit-content;
    min-width: 8rem;
    padding: .25rem;
    margin: 0;
    margin-bottom: .5rem;
}

.toggleButton:hover {
    background-color: rgb(185, 185, 98);
    color:white

}

.displayBox {
    padding: 0 .5rem;
}